*{
    padding: 0%;
    margin: 0%;
}
.main-page {
    margin: 0%;
    background-color: rgb(20, 20, 55);
    color: white;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    margin: 15px;
    width: 25%;
    font-size: 15px;
}
.profile-img {
    border-radius: 50%;
    margin: 5px;
}
.profile-img img{
    size: 50%;
}
.nav-links{
    width:70% ;
text-align: end;
}
.nav-list {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
}

.resume-button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid orange;
    border-radius: 10%;
}

.nav-list>li {
    margin: 15px;
    font-size: 15px;
}
.main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-left{
    width: 30%;
    padding: 20px;
}
.main-right{
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.main-right img{
    size: 50%;
    border-radius: 50%;
    margin: 20px;
}
.projects,
.education,
.skills{
    background-image: linear-gradient(90deg,rgb(198, 237, 248),white,rgb(198, 237, 248));
    justify-content: center;
    padding: 20px 0px 20px 0px;
}
.projects-heading,
.projects-info,
.educarion-heading,
.education-info,
.skills-heading,
.skills-info  {
    padding: 5px 30px 5px 30px;
}
.projects-card,
.education-card-container,
.skills-card-container{
    /* justify-content: space-between; */
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    margin: 10px 0px 0px 20px;
}
.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 83px;
    height: 30px;
    margin: 10px;
    padding: 5px 4px;
    border: 1px solid black;
    border-radius: 5px;
}
.card2{
    text-align: center;
    align-items: center;
    width: 131px;
    height: 70px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.contact{
    background-color: rgb(20, 20, 55);
    padding-left: 30px;
    color: white;
}
.contact h1 {
    padding: 10px 0px 0px 0px;
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 10px 0px;
}
.links  a{
    color: white;
}
.social-media{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}
.sublinks {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.email i{
    margin: 3px 2px 3px 2px;
    align-items: center;
}